<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RoleDao">
    <select id="queryAll" resultType="com.pojo.Role">
        select * from smbms_role
    </select>
    <select id="queryAllRoleName" resultType="java.lang.String">
        select roleName from smbms_role
    </select>
    <select id="queryByRoleName" resultType="com.pojo.Role">
        select * from smbms_role where roleName = #{roleName}
    </select>
</mapper>